/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
   margin: 0 auto; 
    display: flex;
   align-items: center;
   justify-content: center;
} 
.content {
    width: 700px;
    height: 300px;
    display: flex;
   align-items: center;
   justify-content: center;
    position: relative;
}
img {
    width: 40%;
    display: none;
   
}
.pre {
    position: absolute;
    top: 0;
}
.post {
    position: absolute;
    bottom: 0;  
}
button {
    width: 20px;
   border-radius: 10px; 
   background-color: lightgray;
}
.content img:nth-child(3)  {
    display: block;
}
